html {
    font-family: Amplitude Bk;
}
body {
    font-size: 15px;
    line-height: 24px;
    font-family: 'Assistant Regular';
    font-weight: normal;
    color: #000000;
}
h1, h2, h3, h4, h5 {
    color : #0035C7;
    text-align : left;
    font-family : Amplitude Bk;
    font-size : 26px;
}
.title {
    color: #0035C7;
    text-align: left;
}
.container{
    margin-top: 8rem;
}
.data-frame{
    border-collapse: collapse;
    width: 54rem;
    overflow: scroll;
}