html {
    font-family: "Assistant";
}
body {
    font-size: 15px;
    line-height: 24px;
    font-family: 'Assistant';
    font-weight: normal;
    color: #000000;
}
h1, h2, h3, h4, h5 {
    color : #0035C7;
    text-align : left;
    font-family : "Assistant";
    font-size : 26px;
}
a {
    color : #0035C7;
}

ol{
    padding-left: 0px;
    list-style: none;
    font-size: 1.10em;
    line-height: 1.5rem;
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin-bottom: 2.5rem;
}
  
ol {
    content: counter(item) ".0";
    counter-increment: item;
    counter-reset: subitem;
}

ol > li::before {
    content: counter(item) "." counters(subitem, ".") " ";
    padding-right: 0.5rem;
    counter-increment: subitem
}

li{
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    -column-break-inside: avoid;
    page-break-inside: avoid;
}

.vertical-align > li {
    font-size: 1.05em;
    line-height: 1.8rem;
    float: none;
    width: auto;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
.title {
    color: #0035C7;
    text-align: left;
}
.sub-title {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 3rem;
}
.container{
    margin-top: 4rem ;
    margin-bottom: 4rem;
}
.data-frame{
    border-collapse: collapse;
    width: 54rem;
    overflow: scroll;
}
.header-1 {
    font-size: 1.2em;
    font-weight: 500;
}
.sub-header {
    font-size: 1.1em;
}
.header-module--navbar--1smAt {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
}
.header-module--navbar--1smAt {
    padding: 0.75rem 2.5rem;
    text-transform: uppercase;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.header-module--linklist--3rU2U, .header-module--linklist_1--21_vx {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    margin: 0 1.75rem;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.56px;
}
.header-module--linklist--3rU2U, .header-module--linklist_1--21_vx {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    margin: 0 1.75rem;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.56px;
}
.header-module--linklist--3rU2U:hover, .header-module--linklist_1--21_vx:hover{
    text-decoration: none;
}
.header-module--navItem--ckRoL, .header-module--navItemDropdown--3RJtk {
    color: rgba(0, 0, 0, 1);
    padding: 0 1.75rem;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.56px;
}
.header-module--navItemDropdown--3RJtk:focus, .header-module--navItemDropdownSelected--36IsY:focus, .header-module--navItemDropdown--3RJtk:hover, .header-module--navItemDropdownSelected--36IsY:hover {
    border-top: 5px solid #D4FF9C;
    color: #0035C7;
    padding-top: 1.3rem;
    text-decoration: none;
}
.header-module--navItem--ckRoL, .header-module--navItemDropdown--3RJtk {
    color: rgba(0, 0, 0, 1);
    padding: 0 1.75rem;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.56px;
}
.header-module--navbar--1smAt {
    padding: 0.75rem 2.5rem;
    text-transform: uppercase;
}
.mb-5 {
    margin-bottom: 2.25rem!important;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}
.dropdown_link {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    margin: 0.75rem 0.75rem;
    display: block;
    display: grid;
}
.dropdown_link:hover {
    text-decoration: none;
    color: #0035C7;
}
.dropdown-menu {
    background: #FFFFFF;
    min-width: 8rem;
    padding: 1rem 0 0.5rem 0;
    text-transform: capitalize;
    border: none;
    border-radius: 0 0rem 0.7rem 0.7rem;
}
.eFMOok {
    position: relative;
    min-height: 11.25rem;
    background-color:  #0035C7;
    color: #fff;
}
.eFMOok:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -18px;
    border-bottom: 13px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.dUzbBF {
    margin: 2rem 0 0 0;
    font-family: "Assistant";
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
}
.footer-module--footer--3zCYC {
    background-color: #43576E;
    padding: 4.3rem 1.75rem 2.3rem;
}
.footer-module--footer--3zCYC .footer-module--copyRights--1mywo {
    font-size: 10px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.footer-lead {
    font-size: 13px;
    line-height: 26px;
    color: #C2C4C5;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.footer-module--footer--3zCYC .footer-module--tagline--m7Fy3 {
    padding-top: 0.3rem;
    width: 76px;
    margin-bottom: 3rem;
    line-height: 18px;
    color: #FFF;
    font-family: "Assistant";
}
.footer-module--footer--3zCYC .footer-module--tagline--m7Fy3 span {
    color: #D4FF9C;
}
.legal-links {
    text-transform: capitalize;
    color: #FFFFFF !important;
    text-decoration: none;
}
.footer-module--socialIcons--ikr5r a {
    margin: 0 0.5rem;
    padding-bottom: 1rem;
}

@media(max-width: 425px){
    .tutorials_content{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
    }
    .header-module--navItemDropdown--3RJtk:focus, .header-module--navItemDropdownSelected--36IsY:focus, .header-module--navItemDropdown--3RJtk:hover, .header-module--navItemDropdownSelected--36IsY:hover {
        color: #0035C7;
        padding-top: 1.3rem;
        text-decoration: none;
        border: none;
    }
}

.form-control {
    background-color: transparent;
    color: white;
}

.form-control:focus {
    box-shadow: none;
    background-color: transparent;
    color: white;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.btn-white {
    color: white;
}

#button-addon3:focus {
    outline: none
}

#button-addon3:focus-visible {
    outline: none;
}

.ft-13 {
    font-size: 13px;
}
.navbar-nav > li {
    
    margin: 0 1rem;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .56px;
}

.navbar-light .navbar-nav .nav-link{
    color: #000;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: none;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }